<%= form_with(model: category, class: 'form') do |form| %>
  <% if category.errors.any? %>
    <div style="color: red">
      <p><%= pluralize(category.errors.count, "error") %> prohibited this category from being saved:</h4>

      <ul>
        <% category.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="mb-2">
    <%= form.label :name, class: 'form-label' %>
    <%= form.text_field :name, class: 'form-control', autofocus: '' %>
  </div>

  <div class="mb-2">
    <%= form.label :desc, class: 'form-label' %>
    <%= form.text_field :desc, class: 'form-control'%>
  </div>

  <div class="mb-2">
    <%= form.submit(class: 'btn btn-primary') %>
  </div>
<% end %>
