<div class="row">
  <%= render @category %>
</div>

<div class="row">
  <div class="col">
    <%= link_to "Edit this category", edit_category_path(@category), class: 'btn btn-primary' %> 
  </div>
  <div class="col">
    <%= link_to "New category", new_category_path(), class: 'btn btn-info' %> 
  </div>
  <div class="col">
    <%= link_to "Back to categories", categories_path, class: 'btn btn-light' %>
  </div>
  <div class="col">
    <%= button_to "Destroy this category", @category, method: :delete, class: 'btn btn-danger' %>
  </div>
</div>
